[dev_appserver]
# Set default values to start the dev_appserver. All options from the
# command line are allowed. They are inserted at the beginning of the
# arguments. Values are used as they are; don't use variables here.
recipe = appfy.recipe.gae:tools
defaults =
    --port=8765
    --admin_port=8766
    --host=0.0.0.0
    --skip_sdk_update_check=True
    app
